[submodule "eint_t"]
	path = eint_t
	url = git@github.com:/mrdoomlittle/eint_t
[submodule "intlen"]
	path = intlen
	url = git@github.com:mrdoomlittle/intlen.git
[submodule "getdigit"]
	path = getdigit
	url = git@github.com:mrdoomlittle/getdigit.git
[submodule "to_string"]
	path = to_string
	url = git@github.com:mrdoomlittle/to_string.git
[submodule "strcmb"]
	path = strcmb
	url = git@github.com:mrdoomlittle/strcmb.git
[submodule "serializer"]
	path = serializer
	url = git@github.com:mrdoomlittle/serializer.git
[submodule "qgdb"]
	path = qgdb
	url = git@github.com:mrdoomlittle/qgdb.git
[submodule "tagged_memory"]
	path = tagged_memory
	url = git@github.com:mrdoomlittle/tagged_memory.git
[submodule "termio"]
	path = termio
	url = git@github.com:mrdoomlittle/termio.git
[submodule "echar_t"]
	path = echar_t
	url = git@github.com:mrdoomlittle/echar_t.git
[submodule "nibbles"]
	path = nibbles
	url = git@github.com:mrdoomlittle/nibbles.git
